<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/layout.css"> <!-- ../assests/css/layout.css -> it is not working -->
    </head>
    <body>
        <%- include('_header'); %>

        <!-- Vriable content that we want to show -->
        <%- body %>

        <%- include('_footer'); %>
    </body>
</html>